@import "../_bower_components/bootstrap/less/variables.less";
@import "overrides-variables.less";
@import "../_bower_components/bootstrap/less/mixins.less";
@import "overrides-mixins.less";
@import "../_bower_components/bootstrap/less/normalize.less";
@import "overrides-normalize.less";
@import "../_bower_components/bootstrap/less/scaffolding.less";
@import "overrides-scaffolding.less";
@import "../_bower_components/bootstrap/less/type.less";
@import "overrides-type.less";
@import "../_bower_components/bootstrap/less/glyphicons.less";
@import "../_bower_components/bootstrap/less/buttons.less";
@import "../_bower_components/bootstrap/less/close.less";
@import "../_bower_components/bootstrap/less/utilities.less";
@import "../_bower_components/bootstrap/less/responsive-utilities.less";


hr {
	border: 0;
	float: left;
    height: 1px;
    margin: 20px 0;
    position: relative;
    width: 100%;
	#gradient .horizontal-three-colors-alpha(#333, 0, #333, .5, 50%, #333, 0);
	&::before {
		border: 0;
		content: "";
	    height: 1px;
	    position: absolute; 
	    top: 1px; right: 0; left: 0;
	    text-align: center;
		#gradient .horizontal-three-colors-alpha(#fff, 0, #fff, 1, 50%, #fff, 0);
	}
	&::after {
		border: 0;
		content: "";
	    height: 1px;
	    position: absolute; 
	    top: 2px; right: 5%; left: 5%;
		#gradient .horizontal-three-colors-alpha(#333, 0, #333, .3, 50%, #333, 0);
	}
}
.cover {
	@cover-bg-color: #333;
	@cover-fg-color: #fff;
	@cover-logo-size: 120px;
	.cover-mixin();
}
.inverse {
	.cover {
	@cover-bg-color: #fff;
	@cover-fg-color: #333;
	@cover-logo-size: 120px;
	.cover-mixin();
	}
}
.home {
	.cover {
		@cover-bg-color: #333;
		@cover-fg-color: #fff;
		@cover-logo-size: 120px;
		.cover-mixin();
		//.cover-wide();
	}
	.main-content {
		.main-content-panels();
		section {
			&.panel-latest-post {
				border-color: transparent;
				height: 650px;
				.transition(border-left .25s);
				width: 60%;
				.post {
					h1.post-title {
						margin-top: 0;
					}				
				}
				&:hover {
					border-left: 5px solid #333;
				}
				@media(max-width: 1000px) {
					max-height: 250px;
					width: 56%;
				}
				@media(max-width: 600px) {
					height: auto;
					max-height: 600px;
					width: 100%;
				}
			}
			&.panel-about {
				@_bg-color: #fff;
				width: 40%;
				.background {
					background-image: url(/assets/img/covers/mugshot.jpg);
					background-position: left top;
					background-size: 80% auto;
				}
				.overlay {
					background-color: @_bg-color;
					left: auto;
					width: 65%;
					.notch {
						&::before {
							.notch-mixin-on-left(@text-color, 1px, 50px);
						}
						&::after {
							.notch-mixin-on-left(@_bg-color, 0, 50px);
						}
					}
				}
				&:hover {
					.overlay {
						width: 70%;
					}
				}
				.readmore {
					.readmore-mixin(@_bg-color);
				}
				@media(max-width: 1000px) {
					width: 44%;
				}
				@media(max-width: 600px) {
					width: 100%;
					.background { background-size: 100% auto; }
				}
			}
			&.panel-works {
				@_bg-color: #fff;
				height: 400px;
				width: 40%;
				.background {
					background-image: url(/assets/img/covers/blocks.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					background-color: @_bg-color;
					height: 175px;
					top: auto;
					.notch {
						&::before {
							.notch-mixin-on-top(@text-color, 1px);
						}
						&::after {
							.notch-mixin-on-top(@_bg-color);
						}
					}
				}
				&:hover {
					.overlay {
						height: 185px;
					}
				}
				.readmore {
					.readmore-mixin(@_bg-color);
				}
				@media(max-width: 1000px) {
					height: 200px;
					width: 100%;
					.background{
						background-position: right bottom;
						background-size: 60%;
					}
					.overlay {
						height: auto;
						top: -1px;
						right: auto;
						width: 50%;
						.notch {
							&::before {
								.notch-mixin-on-right(@text-color, 1px, 25px);
							}
							&::after {
								.notch-mixin-on-right(@_bg-color, 0, 25px);
							}
						}
					}
					&:hover {
						.overlay {
							height: auto;
							width: 52%;
						}
					}
				}
				@media(max-width: 600px) {
					height: 200px;
					.overlay {
						width: 60%;
					}
					&:hover {
						.overlay {
							width: 75%;
						}
					}
				}
			}
			&.panel-posts {
				@_bg-color: @body-bg;
				border-color: transparent;
				width: 100%;
				article {
					background-color: @_bg-color;
				}
				@media(max-width: 1000px) {
					height: auto;
					width: 100%;
				}
			}
		}
	}
}
.works {
	.cover {
		@cover-bg-color: #333;
		@cover-fg-color: #fff;
		@cover-logo-size: 120px;
		.cover-mixin();
		//.cover-wide();
		//height: 400px;
	}
	.main-content {
		.main-content-panels();
		.preview-panels {
			section {
				cursor: pointer;
				&.panel-intro {
					border-color: transparent;
					cursor: default;
					height: auto;
					min-height: 0;
					width: 100%;
					z-index: 100;
					@media(max-width: 1000px) {
						border-bottom-width: 1px;
						height: auto;
						min-height: 0;
						width: 100%;
					}
				}
				&.panel-wireframing {
					width: 50%;
					.background {
						background-image: url(/assets/img/works/wireframes/cover.jpg);
						background-position: 7% top;
						background-size: 60% auto;
						@media(max-width: 600px) {
							background-position: left top;
							background-size: cover;
						}
					}
					.overlay {
						@_bg-color: #fff;
						background-color: @_bg-color;
						left: auto;
						width: 60%;
						.notch {
							&::before {
								.notch-mixin-on-left(@text-color, 1px, 0);
							}
							&::after {
								.notch-mixin-on-left(@_bg-color, 0, 0);
							}
						}
					}
					&:hover {
						.overlay {
							//width: 42%;
						}
					}
					@media(max-width: 1000px) {
						width: 65%;
						.overlay {
							@_bg-color: #fff;
							background-color: @_bg-color;
							height: auto;
							left: auto;
							top: -1px;
							width: 40%;
							.notch {
								&::before {
									.notch-mixin-on-left(@text-color, 1px, -50px);
								}
								&::after {
									.notch-mixin-on-left(@_bg-color, 0, -50px);
								}
							}
						}
						&:hover {
							.overlay {
								height: auto;
								width: 43%;
							}
						}
					}
					@media(max-width: 600px) {
						.panel-sm-left();
					}
				}
				&.panel-interfaces {
					width: 50%;
					.background {
						background-image: url(/assets/img/works/interfaces/cover.jpg);
						background-position: left top;
						background-size: 100% auto;
					}
					.overlay {
						height: 50%;
						top: auto;
						.notch {
							bottom: 100%;
							&::before {
								.notch-mixin-on-top(@text-color, 1px);
							}
							&::after {
								.notch-mixin-on-top;
							}
						}
					}
					&:hover {
						.overlay {
							height: 65%;
						}
					}
					@media(max-width: 1000px) {
						width: 35%;
						.overlay {
							height: 40%;
							width: auto;
							top: auto;
							.notch {
								&::before {
									.notch-mixin-on-top(@text-color, 1px);
								}
								&::after {
									.notch-mixin-on-top;
								}
							}
						}
						&:hover {
							.overlay {
								width: auto;
								height: 70%;
							}
						}
					}
					@media(max-width: 600px) {
						.panel-sm-right();
					}
				}
				&.panel-data {
					width: 40%;
					.background {
						background-image: url(/assets/img/works/data/cover.jpg);
						background-position: left top;
						background-size: 100% auto;
					}
					.overlay {
						@_bg-color: @body-bg-offset;
						background-color: @_bg-color;
						//bottom: auto;
						height: 55%;
						.notch {
							&::before {
								.notch-mixin-on-bottom(@text-color, 1px, -100px);
							}
							&::after {
								.notch-mixin-on-bottom(@_bg-color, 0, -100px);
							}
						}
					}
					&:hover {
						.overlay {
							height: 65%;
						}
					}
					@media(max-width: 1000px) {		
						height: 175px;			
						width: 100%;
						.background {
							background-size: auto;
							background-position: 40% top;
						}
						.overlay {
							@_bg-color: #fff;
							background-color: @_bg-color;
							height: auto;
							right: auto;
							top: -1px;
							width: 40%;
							.notch {
								&::before {
									.notch-mixin-on-right(@text-color, 1px);
								}
								&::after {
									.notch-mixin-on-right(@_bg-color, 0);
								}
							}
						}
						&:hover {
							.overlay {
								height: auto;
								width: 42%;
							}
						}
					}
					@media(max-width: 600px) {
						.panel-sm-left();
					}
				}
				&.panel-brochures {
					width: 30%;
					.background {
						background-image: url(/assets/img/works/brochures/cover.jpg);
						background-position: left top;
						background-size: 100% auto;
					}
					.overlay {
						@_bg-color: #fff;
						background-color: @_bg-color;
						top: auto;
						height: 50%;
						.notch {
							&::before {
								.notch-mixin-on-top(@text-color, 1px, 50px);
							}
							&::after {
								.notch-mixin-on-top(@_bg-color, 0, 50px);
							}
						}
					}
					&:hover {
						.overlay {
							height: 75%;
						}
					}
					@media(max-width: 1000px) {
						width: 50%;
						.overlay {
						@_bg-color: #fff;
						background-color: @_bg-color;
							.notch {
								&::before {
									.notch-mixin-on-top(@text-color, 1px);
								}
								&::after {
									.notch-mixin-on-top(@_bg-color, 0);
								}
							}
						}
					}
					@media(max-width: 600px) {
						.panel-sm-right();
					}
				}
				&.panel-ios {
					@_bg-color: #fff;
					float: left;
					width: 30%;
					.background {
						background-image: url(/assets/img/works/ios/cover.jpg);
						background-position: left top;
						background-size: 100% auto;
					}
					.overlay {
						background-color: #fff;
						height: 43%;
						bottom: auto;
						.notch {
							&::before {
								.notch-mixin-on-bottom(@text-color, 1px);
							}
							&::after {
								.notch-mixin-on-bottom(@_bg-color);
							}
						}
					}
					&:hover {
						.overlay {
							height: 75%;
						}
					}
					@media(max-width: 1000px) {
						@_bg-color: @body-bg-offset;
						width: 50%;
						.overlay {
							background-color: @_bg-color;
							bottom: -1px;
							height: auto;
							top: -1px;
							right: auto;
							width: 50%;
							.notch {
								&::before {
									.notch-mixin-on-right(@text-color, 1px, 25px);
								}
								&::after {
									.notch-mixin-on-right(@_bg-color, 0, 25px);
								}
							}
						}
						&:hover {
							.overlay {
								height: auto;
								width: 51%;
							}
						}
					}
					@media(max-width: 600px) {
						.panel-sm-left()
					}
				}
			}
		}
		.details-panels {
			.clearfix();
			height: auto;
			min-height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			section {
				bottom: 0px;
				cursor: default;
				display: inline-block;
				height: auto;
				overflow: hidden;
				opacity: 1;
				padding: 10px 20px;
				position: relative;
				width: auto;
				
				&.panel-intro {
					border-color: transparent;
					float: left;					
					z-index: 75;
					.transition(opacity .5s);
					a.btn-pill {
						.transition(all .25s);
						background-color: #fff;
						border-radius: 5px;
						border: 1px solid #333;
						color: #333;
						float: right;
						margin: 5px;
						padding: 5px;
					}
					a.close {
						border: none;
						color: @text-color;
						font-size: 2em;
						line-height: 75px;
						opacity: 1;
						position: absolute;
						right: 0;
						text-align: center;
						text-shadow: 0 1px 0 #fff;
						top: -5px;
						width: 75px;
						.transition(all .1s);
						&:hover {
							font-size: 3em;
						}
						@media(max-width: 1000px) {
							right: -10px;
						}
						@media(max-width: 600px) {
							right: 5px;
							top: -15px;
						}
					}
				}
				&.panel-content {
					background-color: rgba(251,251,251,.98);
					.clearfix();
					height: 100%;
					float: left;
					padding-bottom: 25px;
					z-index: 50;
					.transition(opacity .5s);
					h2 {
						margin-top: 10px; 
					}
				}
			}
			&.inactive-panels {
				section {
					height: 0;
					padding: 0;
					opacity: 0;
					width: 0;
					z-index: 0;
				}
			}
			&.active-panels {
				background-color: @body-bg-offset;
				width: 100%;
				z-index: 100;
				section {
					&.panel-intro {
						overflow: visible;
						border-bottom-width: none;
						a.btn-pill {
							font-family: @font-family-sans-serif;;
							border-color: #333;
							&:hover {
								color: @body-bg;
								background-color: @text-color;
								border-color: @text-color;
								text-shadow: 0 1px 0 #000;
							}
						}
						.notch {
							&::before {
								.notch-mixin-on-bottom(#b3b3b3, 1px, -40%);
							}
							&::after {
								.notch-mixin-on-bottom(@body-bg-offset, 0, -40%);
							}
						}
						@media(max-width: 600px) {
							bottom: auto;
							left: auto; 
							position: relative;
							right: auto; 
							top: auto; 
							width: 100%;
							min-height: auto !important;
						}
					}
					&.panel-content {
						width: 100%;
						@media(max-width: 600px) {
							bottom: auto;
							left: auto; 
							position: relative;
							right: auto; 
							top: auto; 
						}
					}
				}
			}
		}
		.works-images {
			margin-bottom: 10px;
			text-align: center;
			a {
				border: 10px solid transparent;
				border-radius: 5px;
				display: inline-block;
				margin: 0;
				padding: 0;
				position: relative;
				width: 200px;
				&:hover {
					border-color: @text-color-light;
				}
				&.active-thumb {
					border-color: @text-color-light;
					&::after {
						.notch-mixin-on-bottom(@text-color-light, 10px);
					}
				}
				img {
					border: 1px solid #333;
					max-width: 100%;
				}
				@media(max-width: 600px) {
					width: 120px;
				}
			}
			.works-image-link{}
			.works-full-image {
				cursor: pointer;
				margin-top: 25px;
				max-width: 100%;
			}
			.works-full-image {
				clear: both;
			}
		}
	}
}
.writing {
	.cover {
			@cover-bg-color: #fff;
			@cover-fg-color: #8eb6c7;
			@cover-logo-size: 120px;
			.cover-mixin();
			.background {
				bottom: -10px;
			}
	}
}
.about {
	.cover {
		@cover-bg-color: #fff;
		@cover-fg-color: #933;
		@cover-logo-size: 120px;
		.cover-mixin();
	}
}
.github {
	&.inverse {
		.cover {
			.background {
				@media(max-width: 1000px) {
					background-color: #e7e7e7;
					background-size: 50% auto;
					background-position: 100 center;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.main-content {
		
		font-size: 1em;
		ul {
			max-width: 600px;
			li {
				margin-bottom: 10px;
				text-align: justify;
			}
			&.contact-list {
				list-style: none;
				li {
					margin-bottom: 3px;
					height: 1.5em;
					&.name {
						font-family: @font-family-sans-serif;
						font-size: 1.5em;
						font-weight: bold;
						margin-bottom: -5px;
					}
			 	}	
			}
		}
		.hiring-software {
			margin-left: 25px;
		}
	}
}

