@import "../_bower_components/bootstrap/less/variables.less";
@import "overrides-variables.less";
@import "../_bower_components/bootstrap/less/mixins.less";
@import "overrides-mixins.less";
@import "../_bower_components/bootstrap/less/normalize.less";
@import "overrides-normalize.less";
@import "../_bower_components/bootstrap/less/scaffolding.less";
@import "overrides-scaffolding.less";
@import "../_bower_components/bootstrap/less/type.less";
@import "overrides-type.less";
@import "../_bower_components/bootstrap/less/buttons.less";
@import "../_bower_components/bootstrap/less/utilities.less";
@import "../_bower_components/bootstrap/less/responsive-utilities.less";


hr {
	border: 0;
	float: left;
    height: 1px;
    margin: 20px 0;
    position: relative;
    width: 100%;
	#gradient .horizontal-three-colors-alpha(#333, 0, #333, .5, 50%, #333, 0);
	&::before {
		border: 0;
		content: "";
	    height: 1px;
	    position: absolute; 
	    top: 1px; right: 0; left: 0;
	    text-align: center;
		#gradient .horizontal-three-colors-alpha(#fff, 0, #fff, 1, 50%, #fff, 0);
	}
	&::after {
		border: 0;
		content: "";
	    height: 1px;
	    position: absolute; 
	    top: 2px; right: 5%; left: 5%;
		#gradient .horizontal-three-colors-alpha(#333, 0, #333, .3, 50%, #333, 0);
	}
}
.cover {
	@cover-bg-color: #333;
	@cover-fg-color: #fff;
	@cover-logo-size: 120px;
	.cover-mixin();
}

.inverse {
	.cover {
	@cover-bg-color: #fff;
	@cover-fg-color: #333;
	@cover-logo-size: 120px;
	.cover-mixin();
	}
}

.home {
	.cover {
		@cover-bg-color: #333;
		@cover-fg-color: #fff;
		@cover-logo-size: 120px;
		.cover-mixin();
		.cover-wide();
		height: 400px;
	}
	.main-content {
		.main-content-panels();
		section {
			&.panel-latest-post {
				border-left: 1px solid @text-color;
				.transition(border-left .25s);
				width: 45%;
				.post {
					h1.post-title {
						margin-top: 0;
					}				
				}
				&:hover {
					border-left: 5px solid #333;
				}
				@media(max-width: 1000px) {
					width: 56%;
				}
				@media(max-width: 600px) {
					height: auto;
					max-height: 600px;
					width: 100%;
				}
			}
			&.panel-about {
				width: 25%;
				.background {
					background-image: url(/assets/img/covers/mugshot.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					left: auto;
					width: 50%;
					.notch {
						&::before {
							.notch-mixin-on-left(@text-color, 1px, 50px);
						}
						&::after {
							.notch-mixin-on-left(@body-bg, 0, 50px);
						}
					}
				}
				&:hover {
					.overlay {
						width: 52%;
					}
				}
				@media(max-width: 1000px) {
					width: 44%;
				}
				@media(max-width: 600px) {
					width: 100%;
					.background { background-size: 100% auto; }
				}
			}
			&.panel-works {
				float: right;
				height: 500px;
				width: 30%;
				.background {
					background-image: url(/assets/img/covers/clockwork.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					height: 150px;
					top: auto;
					.notch {
						&::before {
							.notch-mixin-on-top(@text-color, 1px);
						}
						&::after {
							.notch-mixin-on-top;
						}
					}
				}
				&:hover {
					.overlay {
						height: 160px;
					}
				}
				@media(max-width: 1000px) {
					height: 200px;
					width: 100%;
					.overlay {
						height: auto;
						top: -1px;
						right: auto;
						width: 50%;
						.notch {
							&::before {
								.notch-mixin-on-right(@text-color, 1px, 25px);
							}
							&::after {
								.notch-mixin-on-right(@body-bg, 0, 25px);
							}
						}
					}
					&:hover {
						.overlay {
							height: auto;
							width: 52%;
						}
					}
				}
				@media(max-width: 600px) {
					height: 200px;
					.overlay {
						width: 60%;
					}
					&:hover {
						.overlay {
							width: 62%;
						}
					}
				}
			}
			&.panel-posts {
				border-left: 1px solid @text-color;
				width: 70%;
				@media(max-width: 1000px) {
					height: auto;
					width: 100%;
				}
			}
		}
	}
}
.works {
	.details {
		display: none;
	}
	.cover {
		@cover-bg-color: #333;
		@cover-fg-color: #fff;
		@cover-logo-size: 120px;
		.cover-mixin();
		.cover-wide();
		height: 400px;
	}
	.main-content {
		.main-content-panels();
		section {
			&.panel-intro {
				border-left: 1px solid @text-color;
				width: 50%;
				@media(max-width: 1000px) {
					height: auto;
					width: 100%;
				}
			}
			&.panel-wireframing {
				width: 30%;
				.background {
					background-image: url(/assets/img/covers/mugshot.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					left: auto;
					width: 40%;
					.notch {
						&::before {
							.notch-mixin-on-left(@text-color, 1px, 0);
						}
						&::after {
							.notch-mixin-on-left(@body-bg, 0, 0);
						}
					}
				}
				&:hover {
					.overlay {
						width: 42%;
					}
				}
				@media(max-width: 1000px) {
					width: 65%;
					.overlay {
						height: auto;
						left: auto;
						top: -1px;
						width: 35%;
						.notch {
							&::before {
								.notch-mixin-on-left(@text-color, 1px, -50px);
							}
							&::after {
								.notch-mixin-on-left(@body-bg, 0, -50px);
							}
						}
					}
					&:hover {
						.overlay {
							height: auto;
							width: 37%;
						}
					}
				}
				@media(max-width: 600px) {
					.overlay {
						height: 300px;
						left: 0;
						top: auto;
						height: 50%;
						width: auto;
						.notch {
							&::before {
								.notch-mixin-on-top(@text-color, 1px);
							}
							&::after {
								.notch-mixin-on-top(@body-bg, 0);
							}
						}
					}
					&:hover {
						.overlay {
							height: 52%;
							width: auto;
						}
					}
				}
			}
			&.panel-brochures {
				width: 20%;
				.background {
					background-image: url(/assets/img/covers/clockwork.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					height: 50%;
					top: auto;
					.notch {
						bottom: 100%;
						&::before {
							.notch-mixin-on-top(@text-color, 1px);
						}
						&::after {
							.notch-mixin-on-top;
						}
					}
				}
				&:hover {
					.overlay {
						height: 52%;
					}
				}
				@media(max-width: 1000px) {
					width: 35%;
					.overlay {
						height: 40%;
						width: auto;
						top: auto;
						.notch {
							&::before {
								.notch-mixin-on-top(@text-color, 1px);
							}
							&::after {
								.notch-mixin-on-top;
							}
						}
					}
					&:hover {
						.overlay {
							width: auto;
							height: 42%;
						}
					}
				}
				@media(max-width: 600px) {
					.overlay {
						height: 50%;
					}
					&:hover {
						.overlay {
							height: 52%;
						}
					}

				}
			}

			&.panel-interfaces {
				border-left: 1px solid @text-color;
				width: 30%;
				.background {
					background-image: url(/assets/img/covers/mugshot.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					top: auto;
					height: 50%;
					.notch {
						&::before {
							.notch-mixin-on-top(@text-color, 1px, -100px);
						}
						&::after {
							.notch-mixin-on-top(@body-bg, 0, -100px);
						}
					}
				}
				&:hover {
					.overlay {
						height: 52%;
					}
				}
				@media(max-width: 1000px) {		
					height: 150px;			
					width: 100%;
					.background {
						background-size: auto;
						background-position: 40% top;
					}
					.overlay {
						height: auto;
						right: auto;
						top: -1px;
						width: 40%;
						.notch {
							&::before {
								.notch-mixin-on-right(@text-color, 1px);
							}
							&::after {
								.notch-mixin-on-right(@body-bg, 0);
							}
						}
					}
					&:hover {
						.overlay {
							height: auto;
							width: 42%;
						}
					}
				}
				@media(max-width: 600px) {
					height: 200px;
					width: 100%;
					.background { background-size: 100% auto; }
					.overlay {
						height: auto;
						width: 50%;
					}
					&:hover {
						.overlay {
							width: 52%;
						}
					}
				}
			}
			&.panel-data {
				width: 45%;
				.background {
					background-image: url(/assets/img/covers/mugshot.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					left: auto;
					width: 50%;
					.notch {
						&::before {
							.notch-mixin-on-left(@text-color, 1px, 50px);
						}
						&::after {
							.notch-mixin-on-left(@body-bg, 0, 50px);
						}
					}
				}
				&:hover {
					.overlay {
						width: 52%;
					}
				}
				@media(max-width: 1000px) {
					width: 50%;
					.overlay {
						.notch {
							&::before {
								.notch-mixin-on-left(@text-color, 1px, -50px);
							}
							&::after {
								.notch-mixin-on-left(@body-bg, 0, -50px);
							}
						}
					}
				}
				@media(max-width: 600px) {
					width: 100%;
					.background { background-size: 100% auto; }
					.overlay {
						width: 50.5%;
					}
					&:hover {
						.overlay {
							width: 53%;
						}
					}
				}
			}
			&.panel-ios {
				float: left;
				width: 25%;
				.background {
					background-image: url(/assets/img/covers/clockwork.jpg);
					background-position: left top;
					background-size: 100% auto;
				}
				.overlay {
					height: 43%;
					top: auto;
					.notch {
						&::before {
							.notch-mixin-on-top(@text-color, 1px);
						}
						&::after {
							.notch-mixin-on-top;
						}
					}
				}
				&:hover {
					.overlay {
						height: 45%;
					}
				}
				@media(max-width: 1000px) {
					width: 50%;
					.overlay {
						height: auto;
						top: -1px;
						right: auto;
						width: 50%;
						.notch {
							&::before {
								.notch-mixin-on-right(@text-color, 1px, 25px);
							}
							&::after {
								.notch-mixin-on-right(@body-bg, 0, 25px);
							}
						}
					}
					&:hover {
						.overlay {
							height: auto;
							width: 51%;
						}
					}
				}
				@media(max-width: 600px) {
					width: 100%;
				}
			}
		}
	}
}
.writing {
	.cover {
			@cover-bg-color: #fff;
			@cover-fg-color: #8eb6c7;
			@cover-logo-size: 120px;
			.cover-mixin();
			.background {
				bottom: -10px;
			}
	}
}
.about {
	.cover {
		@cover-bg-color: #fff;
		@cover-fg-color: #933;
		@cover-logo-size: 120px;
		.cover-mixin();
	}
}

