/* Overrides ../_bower_components/bootstrap/less/normalize.less */
/* Overrides ../_bower_components/bootstrap/less/variables.less */
body {
  font: normal 125%/1.4 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@font-face {
  font-family: 'akg-m-web';
  src: url('/assets/fonts/akg-m-web.eot');
  src: url('/assets/fonts/akg-m-web.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/akg-m-web.ttf') format('truetype'), url('/assets/fonts/akg-m-web.svg#ag-web') format('svg');
  font-style: normal;
  font-weight: normal;
}
.btn {
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.main-content {
  padding: 20px 20px 50px 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 30%;
  max-width: 700px;
  text-shadow: 0 1px 0 #fff;
}
.main-content:before,
.main-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.main-content:after {
  clear: both;
}
.main-content .all-posts.posts article.post-link {
  height: auto;
}
.main-content section {
  clear: both;
}
.main-content .posts article {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding: 5px;
  position: relative;
}
.main-content .posts article.post-link {
  float: left;
  height: 60px;
  margin: 10px;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-content .posts article.post-link .post-title {
  font-size: 1.4em;
  line-height: 1.1em;
}
.main-content .posts article.post-link:hover,
.main-content .posts article.post-link:active {
  box-shadow: -4px 0 0 #333333;
  cursor: pointer;
  left: 10px;
}
.main-content .posts article.post-link.half {
  width: 45%;
}
@media (max-width: 1000px) {
  .main-content .posts article.post-link.half {
    width: 90%;
  }
}
.main-content .posts article.post-link.full {
  width: 100%;
}
.main-content .posts article.post-link .time {
  top: 10px;
}
.main-content .posts article .post-title {
  margin-top: -1px;
  line-height: 1em;
  padding-left: 60px;
  min-height: 50px;
}
@media (max-width: 600px) {
  .main-content .posts article .post-title {
    font-size: 1.6em;
  }
}
.main-content .posts article time {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: .9em;
  line-height: 1em;
  left: 5px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 3px;
  width: 50px;
  height: 50px;
}
.main-content .posts article time .day {
  display: block;
  font-size: 1.5em;
  letter-spacing: -2px;
  position: absolute;
  top: 18px;
  right: 0;
  left: -2px;
}
.main-content .posts article time .month {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1em;
  top: 0;
  right: 0;
  left: -2px;
  position: absolute;
}
.main-content .posts article time .year {
  display: block;
  font-size: .9em;
  line-height: 1em;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}
.main-content .post {
  position: relative;
}
.main-content .post time {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: .9em;
  line-height: 1em;
  left: 5px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 3px;
  width: 50px;
  height: 50px;
}
.main-content .post time .day {
  display: block;
  font-size: 1.5em;
  letter-spacing: -2px;
  position: absolute;
  top: 18px;
  right: 0;
  left: -2px;
}
.main-content .post time .month {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1em;
  top: 0;
  right: 0;
  left: -2px;
  position: absolute;
}
.main-content .post time .year {
  display: block;
  font-size: .9em;
  line-height: 1em;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}
.main-content .post .post-title {
  min-height: 2em;
  padding-left: 60px;
}
@media (max-width: 600px) {
  .main-content .post .post-title {
    font-size: 1.6em;
  }
}
.main-content .post-navigation {
  padding: 20px 0;
}
.main-content .post-navigation h2 {
  margin-top: 0;
}
.main-content .post-navigation a {
  display: block;
  margin: 5px;
}
.main-content footer {
  clear: both;
  display: block;
  float: left;
  margin: 25px 0;
  text-align: right;
  font-style: italic;
  width: 100%;
}
@media (max-width: 1000px) {
  .main-content {
    position: relative;
    left: 0;
    padding: 0 5% 5%;
    width: 90%;
  }
}
@media (max-width: 600px) {
  .main-content {
    position: relative;
    left: 0;
    padding: 0 5% 5%;
    width: 90%;
    width: 100%;
  }
}
.panels {
  display: block;
  width: 100%;
}
.panels section {
  border: 1px solid transparent;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  color: #000000;
  float: left;
  height: 250px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}
.panels section h1 {
  margin-top: 0;
  line-height: 1em;
  min-height: 50px;
}
@media (max-width: 600px) {
  .panels section h1 {
    font-size: 1.6em;
    min-height: 0;
  }
}
.panels section .background {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  height: 110%;
  width: 110%;
  z-index: 10;
}
.panels section .overlay {
  background-color: #f2f2f2;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 10px 20px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 50;
}
.panels section .overlay h1 {
  color: #808080;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  min-height: 0;
}
.panels section .overlay h2 {
  font-size: 1.6em;
  margin: 5px 0;
}
.panels section .overlay p.fadein {
  opacity: 0;
  margin-top: 25px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.panels section .readmore::before {
  background-color: transparent !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(242, 242, 242, 0)), color-stop(50%, rgba(242, 242, 242, 0.5)), to(#f2f2f2));
  background-image: -webkit-linear-gradient(rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-image: linear-gradient(rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2f2f2', endColorstr='#fff2f2f2', GradientType=0);
  bottom: 0;
  content: "";
  height: 50px;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  z-index: 50;
}
.panels section .readmore::after {
  background-color: #333333;
  border: 1px solid #000;
  border-radius: 4px;
  bottom: 5px;
  color: #f2f2f2;
  content: "...";
  position: absolute;
  font-size: 2em;
  right: 5px;
  height: 20px;
  line-height: 0;
  padding: 1px 5px 5px;
  z-index: 75;
}
.panels section.panel-link {
  cursor: pointer;
}
.panels section:hover p.fadein {
  opacity: 1;
  margin-top: 10px;
}
body {
  background-color: #f2f2f2;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
