/* Overrides ../_bower_components/bootstrap/less/variables.less */
body {
  font: normal 125%/1.4 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
@font-face {
  font-family: 'akg-m-web';
  src: url('/assets/fonts/akg-m-web.eot');
  src: url('/assets/fonts/akg-m-web.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/akg-m-web.ttf') format('truetype'), url('/assets/fonts/akg-m-web.svg#ag-web') format('svg');
  font-style: normal;
  font-weight: normal;
}
.btn {
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.main-content {
  padding: 20px 20px 50px 20px;
  position: absolute;
  top: 0;
  right: 0;
  left: 30%;
  max-width: 700px;
  text-shadow: 0 1px 0 #fff;
}
.main-content:before,
.main-content:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.main-content:after {
  clear: both;
}
.main-content .all-posts.posts article.post-link {
  height: 130px;
}
.main-content section {
  clear: both;
}
.main-content .posts article {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  padding: 5px;
  position: relative;
}
.main-content .posts article.post-link {
  float: left;
  height: 60px;
  margin: 10px;
  overflow: hidden;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.main-content .posts article.post-link .post-title {
  font-size: 1.4em;
  line-height: 1.2em;
}
.main-content .posts article.post-link:hover,
.main-content .posts article.post-link:active {
  box-shadow: -4px 0 0 #333333;
  cursor: pointer;
  left: 10px;
}
.main-content .posts article.post-link.half {
  width: 45%;
}
@media (max-width: 1000px) {
  .main-content .posts article.post-link.half {
    width: 90%;
  }
}
.main-content .posts article.post-link.full {
  width: 100%;
}
.main-content .posts article.post-link .time {
  top: 10px;
}
.main-content .posts article .post-title {
  margin-top: -1px;
  line-height: 1em;
  padding-left: 60px;
  min-height: 50px;
}
@media (max-width: 600px) {
  .main-content .posts article .post-title {
    font-size: 1.6em;
  }
}
.main-content .posts article time {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1em;
  left: 5px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 3px;
  width: 50px;
  height: 50px;
}
.main-content .posts article time .day {
  display: block;
  font-size: 1.5em;
  letter-spacing: -2px;
  position: absolute;
  top: 18px;
  right: 0;
  left: -2px;
}
.main-content .posts article time .month {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1em;
  top: 0;
  right: 0;
  left: -2px;
  position: absolute;
}
.main-content .posts article time .year {
  display: block;
  font-size: .9em;
  line-height: 1em;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}
.main-content .post {
  position: relative;
}
.main-content .post time {
  background-color: transparent;
  border: 1px solid #333;
  border-radius: 5px;
  color: #333;
  display: inline-block;
  font-family: "akg-m-web", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 1em;
  left: 5px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  top: 3px;
  width: 50px;
  height: 50px;
}
.main-content .post time .day {
  display: block;
  font-size: 1.5em;
  letter-spacing: -2px;
  position: absolute;
  top: 18px;
  right: 0;
  left: -2px;
}
.main-content .post time .month {
  background-color: #333;
  color: #fff;
  display: block;
  font-size: 1em;
  line-height: 1em;
  top: 0;
  right: 0;
  left: -2px;
  position: absolute;
}
.main-content .post time .year {
  display: block;
  font-size: .9em;
  line-height: 1em;
  position: absolute;
  right: 0;
  bottom: -1px;
  left: 0;
}
.main-content .post .post-title {
  min-height: 2em;
  padding-left: 60px;
}
@media (max-width: 600px) {
  .main-content .post .post-title {
    font-size: 1.6em;
  }
}
.main-content .post-navigation {
  padding: 20px 0;
}
.main-content .post-navigation h2 {
  margin-top: 0;
}
.main-content .post-navigation a {
  display: block;
  margin: 5px;
}
.main-content footer {
  clear: both;
  display: block;
  float: left;
  margin: 25px 0;
  text-align: right;
  font-style: italic;
  width: 100%;
}
@media (max-width: 1000px) {
  .main-content {
    position: relative;
    left: 0;
    padding: 0 5% 5%;
    width: 90%;
  }
}
@media (max-width: 600px) {
  .main-content {
    position: relative;
    left: 0;
    padding: 0 5% 5%;
    width: 90%;
    width: 100%;
  }
}
.panels {
  display: block;
  width: 100%;
}
.panels section {
  border: 1px solid transparent;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: none;
  color: #000000;
  float: left;
  height: 250px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
}
.panels section h1 {
  margin-top: 0;
  line-height: 1em;
  min-height: 50px;
}
@media (max-width: 600px) {
  .panels section h1 {
    font-size: 1.6em;
    min-height: 0;
  }
}
.panels section .background {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  height: 110%;
  width: 110%;
  z-index: 10;
}
.panels section .overlay {
  background-color: #f2f2f2;
  border: 1px solid #333333;
  box-sizing: border-box;
  padding: 10px 20px;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 50;
}
.panels section .overlay h1 {
  color: #808080;
  font-size: 1em;
  line-height: 1em;
  margin: 0;
  min-height: 0;
}
.panels section .overlay h2 {
  font-size: 1.6em;
  margin: 5px 0;
}
.panels section .overlay p.fadein {
  opacity: 0;
  margin-top: 25px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.panels section .readmore::before {
  background-color: transparent !important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(242, 242, 242, 0)), color-stop(50%, rgba(242, 242, 242, 0.5)), to(#f2f2f2));
  background-image: -webkit-linear-gradient(rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-image: -moz-linear-gradient(top, rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-image: linear-gradient(rgba(242, 242, 242, 0), rgba(242, 242, 242, 0.5) 50%, #f2f2f2);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00f2f2f2', endColorstr='#fff2f2f2', GradientType=0);
  bottom: 0;
  content: "";
  height: 50px;
  left: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0px;
  text-align: right;
  z-index: 50;
}
.panels section .readmore::after {
  bottom: 0;
  content: "...";
  position: absolute;
  font-size: 3em;
  right: 5px;
  height: 55px;
  z-index: 75;
}
.panels section.panel-link {
  cursor: pointer;
}
.panels section:hover p.fadein {
  opacity: 1;
  margin-top: 10px;
}
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Overrides ../_bower_components/bootstrap/less/normalize.less */
body {
  background-color: #f2f2f2;
  height: 100%;
  margin: 0 auto;
  max-width: 1400px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 16px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #f2f2f2;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input,
select[multiple],
textarea {
  background-image: none;
}
a {
  color: #333333;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #000000;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 22px;
  margin-bottom: 22px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
a {
  font-weight: bold;
  border-bottom: 1px solid #b3b3b3;
}
a:hover,
a:focus {
  border-bottom-color: transparent;
  color: #000000;
  text-decoration: none;
  text-shadow: 0 0 1px light(#000000, 25%);
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  border-bottom: none;
}
