<ul class="social-links">
  <li class="codepen"><a href="http://codepen.io/cmchase" target="_blank">{% include logo-codepen.svg %}</a></li>
  <li class="dribbble"><a href="http://dribbble.com/cmchase" target="_blank">{% include logo-dribbble.svg %}</a></li>
  <li class="github"><a href="http://github.com/cmchase" target="_blank">{% include logo-github.svg %}</a></li>
  <li class="linkedin"><a href="http://www.linkedin.com/profile/view?id=22930672" target="_blank">{% include logo-linkedin.svg %}</a></li>
  <li class="twitter"><a href="https://twitter.com/cmchase" target="_blank">{% include logo-twitter.svg %}</a></li>
</ul>