<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="/assets/css/base.css">
    <style>
/*       .cover {
/*           border-color: #f00; /*//@cover-fg-color;*/
/*           background-color: #f00;/*//@cover-bg-color;*/
/*       }
/*       .cover .background {
/*           box-shadow-color: #f00;/*//@cover-bg-color;*/
/*       }
/*       .cover .content {
/*           color: #000;/*//@cover-fg-color;*/
/*       }
/*       .cover .content .branding .logo .logo-overlay,
/*       .cover .content .branding .logo .logo-underlay {
/*           fill: #0f0;/*//@cover-fg-color;*/
/*       }
/*       .cover .content .internal-links li a {
/*           border-color: blue;/*//@cover-fg-color;*/
/*           color: purple;/*//@cover-fg-color;*/
/*       }
/*       .cover .content .internal-links li a:hover {
/*           background-color: blue;/*//@cover-bg-color;*/
/*           border-color: green;/*//@cover-bg-color;*/
/*           color: yellow;/*//@cover-fg-color;*/
/*       }
/*       .cover .content .social-links li {
/*           path {
/*               fill: red;/*//@cover-fg-color;*/
/*           }
/*       }
/*       .cover .caption {
/*           color: blue;/*//@cover-fg-color;*/
/*       }
*/
    </style>
  </head>
{% if page.background %}
    {% assign bg = page.background %}
{% endif %}

{% unless page.background %}
    {% assign bg-class = "no-bg" %}
{% endunless %}

{% if page.caption %}
    {% assign caption = page.caption %}
{% endif %}

{% unless page.caption or page.background %}
    {% assign caption-class = "no-caption" %}
{% endunless %}

  <body class="{{ page.class }}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <aside class="cover">
        <div class="background {{ bg-class }}" style="background-image: url({{ bg }})"></div>

        <div class="content">
            {% include branding.html %}
            <ul class="internal-links">
                <li>
                    <a href="/about/">About Me</a>
                </li>
                <li>
                    <a href="/writing/">Writing</a>
                </li>
                <!--<li>
                    <a href="/works/">Works</a>
                </li>-->
            </ul>
            {% include links-social.html %}
            <p class="caption {{ caption-class }}">{{ caption }}</caption>
        </div>
    </aside>

    <main class="main-content">
        {{ content }}
    </main>
    
    <section class="footer">
        <p>Made with Jekyll, hosted on GitHub.</p>
    </section>
    {% include scripts.html %}
    {% include googleanalytics.html %}

  </body>
</html>
